body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.options {
    overflow: auto;
    background-color: white;
    border-left: 1px solid lightgray;
    padding: 10px;
}

.option-btn{
    display: none;
}

@media screen and (max-width: 600px) {
    .options {
        position: fixed;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-color: white;
        display: none;
    }
    .option-btn{
        display: inline;
    }
}

